build/*
hdbscan/tests/*.pyc
hdbscan/*.pyd
hdbscan/tests/*.pyd
hdbscan/*.py[cod]
hdbscan/*.c
hdbscan/*.so
hdbscan/__pycache__/*
dist/*
*egg-info
notebooks/.ipynb_checkpoints/*
hdbscan/tests/*.py[cod]
hdbscan/tests/*.c
pip-wheel-metadata/
